image:
  - Visual Studio 2017
  # - Visual Studio 2019
version: '{build}'
skip_tags: false
shallow_clone: true
environment:
  VCVAR2015: 'C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat'
  VCVAR2017: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat'
  VCVAR2019: 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat'
  matrix:
#  - PlatformToolset: msys2-static
#    QTPATH: C:\msys64\mingw64\qt5-static
#    GENERATOR: MinGW Makefiles
#    BITS: 64
#    ARCH: x86_64
#    EXTRA_CMAKE_ARGS: -DUSE_STATIC_QT=1
  # - PlatformToolset: mingw-w64
  #   QTPATH: C:\Qt\5.12.6\mingw73_64
  #   GENERATOR: MinGW Makefiles
  #   BOOST_ROOT: C:\msys64\mingw64
  #   RELEASE_ARTIFACT: true
  - PlatformToolset: v140
    # QTPATH: C:\Qt\5.11\msvc2015
    QTPATH: C:\Qt\5.13\msvc2017
    # GENERATOR: Visual Studio 15 2017
    GENERATOR: 'NMake Makefiles'
    BOOST_ROOT: C:\Libraries\boost_1_69_0
    ARCHI: x86
    # GENERATOR: Visual Studio 16 2019
    # BOOST_ROOT: C:\Libraries\boost_1_71_0
configuration:
- RelWithDebInfo
matrix:
  fast_finish: false
install:
# sh.exe must not be in the PATH
- if "%PlatformToolset%"=="mingw-w64" set PATH=C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin;%PATH:C:\Program Files\Git\usr\bin;=%
# - if "%PlatformToolset%"=="v140" call "%VCVAR2015%" %ARCHI%
# Static qt5 builds using msys2/mingw packages
- if "%PlatformToolset%"=="v140" call "%VCVAR2017%" %ARCHI%
- if "%PlatformToolset%"=="msys2-static" set PATH=C:\msys64\mingw%BITS%\bin;%PATH:C:\Program Files\Git\usr\bin;=%
- if "%PlatformToolset%"=="msys2-static" C:\msys64\usr\bin\pacman -S --needed --noconfirm mingw-w64-%ARCH%-gcc mingw-w64-%ARCH%-cmake mingw-w64-%ARCH%-python2 mingw-w64-%ARCH%-qt5-static mingw-w64-%ARCH%-jasper
- if "%PlatformToolset%"=="mingw-w64" C:\msys64\usr\bin\pacman --needed --noconfirm -S mingw-w64-x86_64-boost
build_script:
- cd "%APPVEYOR_BUILD_FOLDER%"
- set PATH=%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- mkdir build
- cd build
- cmake -G "%GENERATOR%" -DCMAKE_BUILD_TYPE=Release -DBoost_USE_STATIC_LIBS=ON -DCMAKE_INSTALL_PREFIX=../INSTALL %EXTRA_CMAKE_ARGS% ..
- cmake --build . --config Release --target install
# - windeployqt ../INSTALL/bin/tree.exe --no-plugins --no-translations
test_script:
- set PATH=%BOOST_ROOT%;%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- cd "%APPVEYOR_BUILD_FOLDER%"/build
- ctest -VV -C Release
- ps: (Get-Item "$($env:APPVEYOR_BUILD_FOLDER)\INSTALL\bin\tree.exe").VersionInfo
artifacts:
- path: INSTALL
  name: tree-windows
deploy:
  - provider: GitHub
    description: Automated builds (Appveyor)
    # release: $(appveyor_repo_tag_name)
    auth_token: $(GITHUB_OAUTH_TOKEN)
    # auth_token:
    #   secure: Hx2tU6GZPZNB6qGjHcIqa1tEm8fVGXZUVfXyjboVrPcmA9OWMTXhLxayDzMMl3kD
    artifact: tree-windows.zip
    prerelease: false
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true  # deploy on tag push only
      configuration: RelWithDebInfo
      release_artifact: true
  - provider: GitHub
    description: Automated builds (Appveyor)
    release: nightly
    auth_token: $(GITHUB_OAUTH_TOKEN)
    artifact: tree-windows.zip
    prerelease: false
    force_update: true
    on:
      configuration: RelWithDebInfo
      release_artifact: true
